#girar {
    height: 250px;
    width: 250px;
    background-color: blue;
    color: white;
    font-size: 30px;
    font-weight: bold;
    transform: rotate(20deg);
}
#torcer {
    height: 250px;
    width: 250px;
    background-color: rgb(255, 0, 191);
    color: white;
    font-size: 30px;
    font-weight: bold;
    transform:skewY(20deg)
}
#crecer{
    height: 250px;
    width: 250px;
    background-color: rgb(255, 0, 191);
    color: white;
    font-size: 30px;
    font-weight: bold;
    transform: scaleX(1.25)
}