#nombre {
    text-align: center;
    size: 40px;
    font: bold;
}
.clase1 {
    background-color: yellow;
    text-align: left;
    width: 20%;
}
.clase2 {
    background-color: rgb(0, 128, 107);
    text-align: left;
    width: 50%;
}
#nombreaño {
    background-color: hotpink;
    border: solid 1px;
    text-align: center;
}
div{
    text-align: center;
}
img {
    /* border-radius: 60%;
    height: 250px; */
   
}
img{
    border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
transform: rotate(180deg);
-webkit-transform: rotate(180deg);;
}
body {
    background-image: radial-gradient(ellipse farthest-corner at 45px 45px , #00FFFF 0%, rgba(0, 0, 255, 0) 50%, #0000FF 95%);
}
.input {
    background-color: antiquewhite;
  caret-color: green;
  color: brown;
}
